@use "../../scss/variables" as v;

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: v.$background;
    color: v.$white;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 3;

    .logo {
        font-size: 22px;
        font-weight: bold;
        color: v.$orange;
    }

    .search_box {
        flex: 1;
        display: flex;
        justify-content: center;

        input {
            background-color: #3e3d49;
            color: #98958b;
            width: 40%;
            padding: 8px 12px;
            border: none;
            border-radius: 20px;
            outline: none;

            &:focus {
                color: white;
            }
        }
    }
}
