@use "../../scss/variables" as v;

html,
body {
    height: 100%;
}
.avatar_container {
    cursor: pointer;
}
.page_container {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: v.$background;
    color: v.$white;
    min-height: 100vh;
}
.user_avatar {
    img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        cursor: pointer;
        border: 2px solid white;
        transition: transform 0.2s;

        &:hover {
            transform: scale(1.1);
        }
    }
}
.container {
    z-index: 0;
    padding: 60px 80px 0 100px;
    margin: 0 auto;
}