@use "../../scss/variables" as v;

.author {
    display: flex;
    align-items: center;
    gap: 6px;
}

.name {
    padding-left: 5px;
    font-size: 15px;
    font-weight: 500;
}

.author_card {
    padding: 5px 5px;
    border-radius: 10px;
    width: 33%;

    .author_header {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 15px;
    }

    .author_content {
        display: flex;
        align-items: center;
        background: v.$second_background;
        padding: 15px;
        border-radius: 8px;

        &:hover {
            cursor: pointer;
            box-shadow: 0 4px v.$orange;
        }

        .author_avatar {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            margin-right: 15px;
        }

        .author_info {
            h2 {
                font-size: 16px;
                margin-bottom: 8px;
            }

            .author_stats {
                padding-top: 20px;
                display: flex;
                gap: 10px;
                font-size: 14px;
                text-align: right;
            }
        }
    }
}
