@use "../../scss/variables" as v;

.answerItem {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px;

    input[type="checkbox"] {
        width: 20px;
        height: 20px;
        cursor: pointer;
    }

    .answerInput {
        width: 100%;
        background: v.$second_background;
        border: none;
        color: white;
        padding: 8px;
        border-radius: 5px;
        transition: box-shadow 0.2s ease-in-out;

        &:focus {
            outline: none;
            border-color: v.$yellow;
            box-shadow: 0 0 10px v.$yellow;
        }
    }

    .deleteAnswer {
        background: #c0392b;
        color: white;
        border: none;
        padding: 5px 10px;
        border-radius: 5px;
        cursor: pointer;
        transition: background 0.2s ease-in-out;

        &:hover {
            background: #a83224;
        }
    }
}
