@use "../../../scss/variables" as v;

.questionBlock {
    background: v.$second_background;
    padding: 15px;
    border-radius: 10px;
    margin-top: 20px;

    .questionHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;

        input[type="text"] {
            width: 90%;
            border: none;
            color: white;
            padding: 10px;
            border-radius: 5px;
            transition: box-shadow 0.2s ease-in-out;

            &:focus {
                outline: none;
                border-color: v.$yellow;
                box-shadow: 0 0 10px v.$yellow;
            }
        }

        .deleteQuestion {
            background: v.$second_background;
            color: white;
            border: none;
            padding: 10px;
            border-radius: 5px;
            cursor: pointer;
            font-size: 14px;
            transition: background 0.2s ease-in-out;

            &:hover {
                background: #c0392b;
            }
        }
    }
}

.imageUpload {
    display: inline-block;
    background: v.$second_background;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    width: 100%;
    margin-top: 10px;
    font-size: 16px;
    border: 2px dashed v.$orange;
    transition: background 0.2s ease-in-out, border-color 0.2s ease-in-out;

    input[type="file"] {
        display: none;
    }

    &:hover {
        background: v.$background;
        border-color: v.$orange;
    }
}

.imagePreview {
    margin-top: 10px;
    width: 100%;
    max-width: 300px;
    border-radius: 5px;
}

.button {
    width: 30%;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    background: v.$orange;
    color: v.$background;
    transition:
        transform 0.1s ease-out,
        background 0.2s ease-in-out;

    &:hover {
        transform: scale(1.05);
    }

    &:active {
        transform: scale(0.98);
    }
}
