.app {
    height: 100vw;
    width: 100vw;
    background-color: white;
}
.password_button {
    background-color: white;
}
.img {
    height: 1.5rem;
    width: 1.5rem;
}
.google_box {
    width: 200px;
    border: 2px solid black;
}
