@use "../../scss/variables" as v;

.active {
  background-color: dimgray;
}

.sidebar {
  width: 80px;
  height: 100%;
  background-color: v.$background;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  position: fixed;
  left: 0;
  top: 0;

  ul {
    list-style: none;
    padding: 0;
    width: 100%;

    li {
      display: flex;
      align-items: center;
      flex-direction: column;
      color: white;
      padding: 20px 0;
      cursor: pointer;
      font-size: 25px;
      position: relative;
      transition: 0.3s;

      &:hover {
        background: v.$second_background;
      }

      .badge {
        position: absolute;
        top: 5px;
        right: 10px;
        background: red;
        color: white;
        font-size: 12px;
        border-radius: 50%;
        padding: 2px 6px;
      }
    }
  }
}
