@use "../../scss/variables" as v;

.quizPage {
    background-color: v.$background;
    color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    margin: 0;
    font-family: Arial, sans-serif;
}

.quizHeader {
    text-align: left;
    background-color: v.$second_background;
    padding: 20px;
    border-radius: 10px;

    h1 {
        color: v.$orange;
    }

    p {
        padding: 10px 0;
    }
}

.quizDescription {
    background-color: v.$second_background;
    border-radius: 10px;
    text-align: left;
}

.buttonContainer {
    background-color: v.$background;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding: 15px 0;
}

.controlButton {
    display: inline-block;
    background-color: v.$orange;
    padding: 10px 20px;
    margin: 0 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-align: left;

    &:hover {
        background-color: v.$yellow;
    }
}

.quizReviews {
    background-color: v.$second_background;
    padding: 15px;
    border-radius: 10px;

    h2 {
        color: v.$orange;
        text-align: left;
    }
}
.reviewList {
    max-height: 300px;
    overflow-y: auto;
}
.review {
    background-color: v.$second_background;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
    text-align: left;
}
.userProfile {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px 0;

    .avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 2px solid white;
        transition: transform 0.2s;

        &:hover {
            transform: scale(1.1);
        }
    }

    .username {
        font-size: 16px;
        font-weight: bold;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
