@use "../../scss/variables" as v;

.recent_item {
    display: inline-flex;
    align-items: center;
    gap: 12px;
    background: v.$background;
    padding: 12px;
    border-radius: 8px;
    width: 50%;

    &:hover {
        cursor: pointer;
        background: v.$second_background;
    }
}

.recent_title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 12px;
}

.recent_icon {
    padding: 10px;
    border-radius: 8px;
    font-size: 20px;
}

.recent_details {
    display: flex;
    flex-direction: column;
}

.recent_quizTitle {
    font-size: 14px;
    font-weight: 600;
    text-align: left;
}

.recent_meta {
    font-size: 12px;
    font-weight: 600;
}
