@use "../../../scss/variables" as v;

.resultsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: v.$background;
}
.exitButton {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  font-size: 24px;
  color: v.$yellow;
  cursor: pointer;
}

.resultsCard {
  background-color: v.$second_background;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px v.$second_background;
  text-align: center;
  max-width: 600px;
  width: 100%;
}
.filledStar {
  color: v.$yellow;
}
.emptyStar {
  color: v.$white;
}
.quizTitle {
  color: v.$yellow;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
}

.percentage {
  color: v.$white;
  font-size: 20px;
  margin-bottom: 10px;
}
.ratingSection_container {
  padding: 10px;
}
.ratingSection {
  color: v.$white;
  padding: 10px;
  div {
    width: 100%;
    height: 100%;

    span {
      cursor: pointer;
    }
  }
}
.commentBox {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: none;
  background-color: v.$background;
  color: v.$white;
  font-size: 16px;
  margin-bottom: 15px;
}

.submitButton {
  background-color: v.$orange;
  color: v.$background;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
  transition: background 0.3s;
}

.submitButton:hover {
  background-color: v.$yellow;
}
